*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  height: 100vh;
  width: 100vw;
  padding: 5%;
  background: #1e202a;
}
body::before {
  content: "";
  position: absolute;
  background: #1f212e;
  width: 100%;
  height: calc(6% + 220px);
  top: 0;
  left: 0;
  z-index: -1;
}
@media only screen and (max-width: 1200px) {
  body::before {
    display: none;
  }
}

main {
  height: 100%;
  margin-top: -1%;
}
@media only screen and (min-width: 1920px) {
  main {
    margin-left: 5%;
    margin-right: 5%;
  }
}

.title {
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
}

.card-default {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #252a41;
}

.icon-facebook {
  background-image: url("../images/icon-facebook.svg");
  width: 20px;
  height: 20px;
}

.icon-twitter {
  background-image: url("../images/icon-twitter.svg");
  width: 20px;
  height: 17px;
}

.icon-instagram {
  background-image: url("../images/icon-instagram.svg");
  width: 20px;
  height: 20px;
}

.icon-youtube {
  background-image: url("../images/icon-youtube.svg");
  width: 20px;
  height: 20px;
}

.icon-arrow {
  display: inline-block;
  width: 8px;
  height: 4px;
  margin-right: 8px;
}

.icon-up {
  background-image: url("../images/icon-up.svg");
}

.icon-down {
  background-image: url("../images/icon-down.svg");
}

.icon-svg {
  display: inline-block;
}

@media only screen and (min-width: 1920px) {
  .icon-facebook,
.icon-twitter,
.icon-instagram,
.icon-youtube,
.icon-up,
.icon-down {
    transform: scale(1.2);
  }
}
.attribution {
  font-size: 11px;
  text-align: center;
  color: white;
}
@media only screen and (min-width: 1200px) {
  .attribution {
    padding-top: 1%;
  }
}

.attribution a {
  color: #3e52a3;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media only screen and (min-width: 1200px) {
  header {
    flex-direction: row;
    justify-content: space-between;
  }
}

.title-wrapper {
  padding-bottom: 20px;
}

.title-subhead {
  font-weight: 500;
  color: #8b97c6;
}

.divider {
  height: 1px;
  background-color: #8b97c6;
  margin-bottom: 20px;
}
@media only screen and (min-width: 1200px) {
  .divider {
    display: none;
  }
}

.theme-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#theme-name {
  color: #8b97c6;
}
@media only screen and (min-width: 1200px) {
  #theme-name {
    padding-right: 12px;
  }
}

.toggle-wrapper {
  position: relative;
  background-image: linear-gradient(90deg, #378fe6, #3eda82);
  height: 24px;
  width: 50px;
  border-radius: 25px;
}
.toggle-wrapper:hover {
  cursor: pointer;
}

.toggle-circle {
  position: absolute;
  background-color: #1e202a;
  height: 20px;
  width: 20px;
  top: 2px;
  left: 3px;
  border-radius: 50%;
}

@media only screen and (min-width: 1200px) {
  .top-wrapper {
    margin-bottom: 25px;
  }
}

.section-one {
  padding-top: 25px;
  padding-bottom: 30px;
}
@media only screen and (min-width: 768px) {
  .section-one {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
  }
}
@media only screen and (min-width: 1200px) {
  .section-one {
    grid-template-columns: repeat(4, 1fr);
  }
}

.section-one-card {
  margin-bottom: 25px;
  height: 222px;
  border-top: solid 6px transparent;
  border-radius: 8px;
}
@media only screen and (min-width: 1200px) {
  .section-one-card {
    margin-bottom: 0;
  }
}
.section-one-card .section-one-content {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.section-one-card .section-one-content:hover {
  background-color: #333956;
  cursor: pointer;
}

.section-one-card-facebook {
  background: deepskyblue;
}
.section-one-card-facebook .facebook-analytics {
  color: #1db489;
}

.section-one-card-twitter {
  background: #1ca0f2;
}
.section-one-card-twitter .twitter-analytics {
  color: #1db489;
}

.section-one-card-instagram {
  background: linear-gradient(90deg, #fdc468, #df4996);
}
.section-one-card-instagram .instagram-analytics {
  color: #1db489;
}

.section-one-card-youtube {
  background: #c4032a;
}
.section-one-card-youtube .youtube-analytics {
  color: #dc414c;
}

.section-content {
  width: 100%;
  padding-top: 25px;
}

.section-one-card-top {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-one-card-top .username {
  color: #8b97c6;
  margin-left: 8px;
}
@media only screen and (min-width: 1920px) {
  .section-one-card-top .username {
    margin-left: 1rem;
  }
}

.section-one-card-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-one-card-middle .section-one-card-follower-number {
  color: white;
  font-weight: 700;
  font-size: 3.5rem;
}
.section-one-card-middle .section-one-card-follower-text {
  color: #8b97c6;
  text-transform: uppercase;
  letter-spacing: 4.5px;
}

.section-one-card-bottom {
  padding-bottom: 25px;
}
.section-one-card-bottom .section-one-card-analytics {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-two {
  margin-top: 20px;
}
@media only screen and (min-width: 1200px) {
  .section-two {
    display: grid;
    grid-column-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "facebook instagram" "twitter youtube";
  }
}

.sec-two-card-facebook {
  grid-area: facebook;
}

.sec-two-card-twitter {
  grid-area: twitter;
}

.sec-two-card-instagram {
  grid-area: instagram;
}

.sec-two-card-youtube {
  grid-area: youtube;
}

.sec-two-card-facebook,
.sec-two-card-twitter,
.sec-two-card-instagram,
.sec-two-card-youtube {
  margin-bottom: 20px;
}
.sec-two-card-facebook :hover,
.sec-two-card-twitter :hover,
.sec-two-card-instagram :hover,
.sec-two-card-youtube :hover {
  background-color: #333956;
  cursor: pointer;
}
@media only screen and (min-device-width: 768px) {
  .sec-two-card-facebook,
.sec-two-card-twitter,
.sec-two-card-instagram,
.sec-two-card-youtube {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
    margin-bottom: 0;
  }
}

.sec-two-card {
  justify-content: space-around;
  border-radius: 8px;
  padding: 2rem;
  margin-bottom: 20px;
}

.sec-two-top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
}
.sec-two-top .card-title {
  color: #8b97c6;
}

.sec-two-bot {
  display: flex;
  justify-content: space-between;
}
.sec-two-bot .sec-two-num {
  color: white;
  font-weight: 700;
  font-size: 2rem;
}

.sec-two-card-analytics {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sec-two-card-analytics #fb-page-view-analytics,
.sec-two-card-analytics #insta-page-view-analytics,
.sec-two-card-analytics #insta-likes-analytics,
.sec-two-card-analytics #twitter-retweet-analytics,
.sec-two-card-analytics #twitter-likes-analytics {
  color: #1db489;
}
.sec-two-card-analytics #fb-likes-analytics,
.sec-two-card-analytics #youtube-view-analytics,
.sec-two-card-analytics #youtube-likes-analytics {
  color: #dc414c;
}

/*# sourceMappingURL=style.css.map */
