@use "sass:map";
@import 'colors.scss';

.section-two {
  margin-top: 20px;

  @media only screen and (min-width: 1200px) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
  }
}

.sec-two-card-facebook,
.sec-two-card-twitter,
.sec-two-card-instagram,
.sec-two-card-youtube {
  margin-bottom: 20px;

  :hover {
    background-color: #333956;
    cursor: pointer;
  }
}

.sec-two-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: map.get($dark-theme, 'card-background');
  border-radius: 8px;
  padding: 20% 10%;
  margin-bottom: 20px;
  height: 130px;
}

.sec-two-top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
  .card-title {
    color: map.get($dark-theme, 'sub-text');
  }
}

.sec-two-bot {
  display: flex;
  justify-content: space-between;
  .sec-two-num {
    color: white;
    font-weight: 700;
    font-size: 2rem;
  }
}

.sec-two-card-analytics {
  display: flex;
  align-items: center;
  justify-content: center;

  #fb-page-view-analytics,
  #insta-page-view-analytics,
  #insta-likes-analytics,
  #twitter-retweet-analytics,
  #twitter-likes-analytics {
    color: map.get($primary-colors, 'lime-green');
  }

  #fb-likes-analytics,
  #youtube-view-analytics,
  #youtube-likes-analytics {
    color: map.get($primary-colors, 'bright-red');
  }
}
