@use "sass:map";
@import 'util.scss';

.top-wrapper {
  @media only screen and (min-width: 1200px) {
    margin-bottom: 25px;
  }
}

.section-one {
  padding-top: 25px;
  padding-bottom: 30px;
  @media only screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
  }
  @media only screen and (min-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.section-one-card {
  height: 228px;
  position: relative;
  padding: 6px 0 0 0;
  border-radius: 8px;
  margin-bottom: 25px;
  @media only screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}

.section-one-content {
  height: 222px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  &:hover {
    background-color: #333956;
    cursor: pointer;
  }
}

.section-one-card-facebook {
  background-color: map.get($primary-colors, 'facebook');
  .facebook-analytics {
    color: map.get($primary-colors, 'lime-green');
  }
}

.section-one-card-twitter {
  background-color: map.get($primary-colors, 'twitter');
  .twitter-analytics {
    color: map.get($primary-colors, 'lime-green');
  }
}

.section-one-card-instagram {
  background-image: map.get($primary-colors, 'instagram');
  .instagram-analytics {
    color: map.get($primary-colors, 'lime-green');
  }
}

.section-one-card-youtube {
  background-color: map.get($primary-colors, 'youtube');
  .youtube-analytics {
    color: map.get($primary-colors, 'bright-red');
  }
}

.section-content {
  width: 100%;
  padding-top: 25px;
}

.section-one-card-top {
  display: flex;
  align-items: center;
  justify-content: center;
  .username {
    color: map.get($dark-theme, 'sub-text');
    margin-left: 8px;
    @media only screen and (min-width: 1920px) {
      margin-left: 1rem;
    }
  }
}

.section-one-card-middle {
  @include flex-column;
  align-items: center;
  .section-one-card-follower-number {
    color: map.get($dark-theme, 'white-text');
    font-weight: 700;
    font-size: 3.5rem;
  }
  .section-one-card-follower-text {
    color: map.get($dark-theme, 'sub-text');
    text-transform: uppercase;
    letter-spacing: 4.5px;
  }
}

.section-one-card-bottom {
  padding-bottom: 25px;
  .section-one-card-analytics {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
