@use "sass:map";
@import 'colors.scss';

.section-one {
  padding-top: 25px;
  padding-bottom: 30px;
  @media only screen and (min-device-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
  }
  @media only screen and (min-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.section-one-card {
  border-radius: 8px;
  padding-top: 6px;
  height: 5%;
  :hover {
    background-color: #333956;
    cursor: pointer;
  }
}

.section-one-card-facebook {
  background-color: map.get($primary-colors, 'facebook');
  .facebook-analytics {
    color: map.get($primary-colors, 'lime-green');
  }
}

.section-one-card-twitter {
  background-color: map.get($primary-colors, 'twitter');
  .twitter-analytics {
    color: map.get($primary-colors, 'lime-green');
  }
}

.section-one-card-instagram {
  background-image: map.get($primary-colors, 'instagram');
  .instagram-analytics {
    color: map.get($primary-colors, 'lime-green');
  }
}

.section-one-card-youtube {
  background-color: map.get($primary-colors, 'youtube');
  .youtube-analytics {
    color: map.get($primary-colors, 'bright-red');
  }
}

.section-content {
  width: 100%;
  padding-top: 25px;
}

.section-one-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: map.get($dark-theme, 'card-background');
  margin-bottom: 25px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.section-one-card-top {
  display: flex;
  align-items: center;
  justify-content: center;
  .username {
    color: map.get($dark-theme, 'sub-text');
    margin-left: 8px;
    @media only screen and (min-width: 1920px) {
      margin-left: 1rem;
    }
  }
}

.section-one-card-middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  .section-one-card-follower-number {
    color: map.get($dark-theme, 'white-text');
    font-weight: 700;
    font-size: 3.5rem;
  }

  .section-one-card-follower-text {
    color: map.get($dark-theme, 'sub-text');
    text-transform: uppercase;
    letter-spacing: 4.5px;
  }
}

.section-one-card-bottom {
  padding-bottom: 25px;
  .section-one-card-analytics {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
